
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Balsamiq Sans', cursive !important;
}

h1 {
  margin: 50px 50px!important;
  text-align: center;
  font-weight: 700 !important;
}

h4 {
  padding: 8px !important;
  text-align: center;
  font-weight: 600 !important;
}
p {
  padding-bottom: 10px;
  font-size: 1em;
}


.sec {
  background-color: #909090;

.nav-bar {
  background color: gray;
}

.nav-item{
  padding: 0 15px;
}
.nav-link{
  font-size: 1.2rem;

}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #3344ff;
    color:#ffffff;
  }
